<% if users.any? %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3 <%= local_assigns[:extra_class] || 'mb-4' %>">
    <% users.each do |user| %>
      <%= render 'user_card', user: user %>
    <% end %>
  </div>
<% end %>